<!-- This page contain prank item ie final content -->
{% extends 'main/header.html' %}
    {% block title %}Kat Gaya!{% endblock %}

    {% block content %}
        <center><h1>Kat Gaya!</h1></center>
        <div class="container">
        <div class="col s12" style="font-size: 130%">
                <a href="javascript:history.go(-1);" class="tooltipped" data-position="bottom" data-tooltip="Go Back">&nbsp;<b>< Goto Papers</b>&nbsp;&nbsp;</a>
              </div>
            </div>
            <br>
        <div class="container">
            <center>
                <img class="responsive-img"  src="{{source.prank_image.url}}">
            </center>
            <br>
        </div>
    {% endblock %}