{% extends 'main/header.html' %}
{% block title %} Home | Campus Placement Papers {% endblock %}
{% block content %}
  {% load static %}

  <style>
      nav ul a,
    nav .brand-logo {
      color: #ffffff;
    }

    p {
      line-height: 2rem;
    }

    .sidenav-trigger {
      color: #26a69a;
    }

    .parallax-container {
      min-height: 380px;
      line-height: 0;
      height: auto;
      color: rgba(255,255,255,.9);
    }
      .parallax-container .section {
        width: 100%;
      }

    @media only screen and (max-width : 992px) {
      .parallax-container .section {
        position: absolute;
        top: 40%;
      }
      #index-banner .section {
        top: 10%;
      }
    }

    @media only screen and (max-width : 600px) {
      #index-banner .section {
        top: 0;
      }
    }

    .icon-block {
      padding: 0 15px;
    }
    .icon-block .material-icons {
      font-size: inherit;
    }

    footer.page-footer {
      margin: 0;
    }
  </style>

   <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>

        <marquee behavior="alternate"><h1 class="header center black-text" style="color: black;"><b>Campus Placement Papers</b></h1></marquee>
        <div class="row center">
          <h5 class="header col green s12 " style="color: white;">Ready for your placement season? If you want to crack a job at a top IT company like Infosys, you need to practice Infosys placement papers from previous years rigorously.</h5>
        </div>

        <br><br>

      </div>
    </div>
    <div class="parallax"><img class="responsive-img" src="{% static 'main/images/infy.jpg' %}" alt="Unsplashed background img 1"></div>
  </div>


<!-- Middle section content -->
<div style="background-color:#004d40;color:white;">
  <div class="container">
    <br>
      <div class="row center">
          <a href="/home" id="download-button" class="btn-large waves-effect waves-light red pulse"><b>Get Started</b></a>
        </div>
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center red-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Speeds up Solving</h5>

            <p class="light">Here we have collated questions from latest Infosys campus placement drives to help you prepare for Infosys campus placements and Infosys off-campus selection drives.
                Start your preparation with these Infosys placement papers. These papers will render a clear idea about Infosys test pattern. So start your preparation with these Infosys Placement Papers.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center red-text"><i class="material-icons">group</i></h2>
            <h5 class="center">User Experience Focused</h5>

            <p class="light">Our experts have analyzed Infosys placement papers thoroughly for freshers. This study revealed that the test pattern has sectional time limits. These sections are Quantitative Aptitude Section consists of 10 questions and has to be solved in 25 minutes, 
              the Reasoning Ability Section has 15 questions, Verbal Ability Section is 35 minutes and the number of questions is 40.
                
                </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center red-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Easy to work with</h5>

            <p class="light">We have provided detailed documentation as well as specific code examples and answers to typical questions to help new users get started. We are also always open to feedback and can answer any questions a user may have about these papers.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h2 class="header col s12 light text-lighten-2" style="color: black"><b>A collection of papers specially designed for UGI students</b></h2>
        </div>
      </div>
    </div>
    <div class="parallax"><img class="responsive-img" src="{% static 'main/images/background2.jpg' %}" alt="Unsplashed background img 2"></div>
  </div>

  <!-- Content of last section -->
<div style="background-color:#004d40;color:white;">
  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contact Us</h4>
          <p class="left-align light"><b>No one interested for reading this section so we also left it for you, for more info visit about us section.</b>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
        </div>
      </div>

    </div>
  </div>
</div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 red lighten-3" style="color: black">An awesome collection of Questions and Papers :D</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="{% static 'main/images/background3.jpg' %}" alt="Unsplashed background img 3"></div>
  </div>

{% endblock %}

  <!--  Scripts-->
  <!-- <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
 -->
